*{
box-sizing:border-box;
}

@font-face {
   font-family: ae_Arab;
   src: url(ae_Arab.ttf);
}


body{
  color:white;
  font-family:ae_Arab;
  color:#066E84;
  background-image:url('img/ground.png');
  margin:0;
}


#canvas{
	margin-left:180px; 
}

  

@media screen and  (max-width: 768px) {
	 
#canvas{
  width: 400px;
  height: 350px;
  color:white;
  margin-left:50px;
 }
#source{
  width: 380px;
  height: 320px;
 }
 
}



